
@{
    ViewBag.Title = "修改密码";
}
<span style="color:red">
    @Html.ValidationSummary(false)
</span>
<form method="post" class="form-horizontal" id="dataForm">
    <input hidden="hidden" name="id" value="@ViewBag.Id"/>
    <div class="form-group">
        <label for="oldPassword" class="col-md-1 required">原密码</label>
        <div class="col-md-3">
            <input id="oldPassword" class="form-control" name="oldPassword" type="password" />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-md-1 required">密码</label>
        <div class="col-md-3">
            <input id="password" class="form-control" name="password" type="password" placeholder="请不要输入空格"/>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword" class="col-md-1 required">确认密码</label>
        <div class="col-md-3">
            <input id="confirmPassword" name="confirmPassword" class="form-control" type="password" placeholder="请不要输入空格"/>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">提交</button>
    @Html.ActionLink("返回", "Update", new { id= ViewBag.Id }, new { @class="btn btn-primary"})
    <div class="col-md-1">
        
    </div>
</form>
